* {
  margin: 0;
  padding: 0;
}

*:focus {
  outline: none;
}

:root {
  --darkgray: #444444;
}
body {
  font-family: Arial, Helvetica, sans-serif;
  color: var(--darkgray);
  font-size: 16px;
  @media (max-width: 768px) {
    font-size: 10px;
  }
}

//App Component
.register-wrapper {
  display: flex;
  margin-top: 5rem;
  @media (max-width: 768px) {
    margin-top: 2rem;
  }
  @media (max-width: 500px) {
    flex-direction: column;
  }
  .products-wrapper {
    width: 50vw;
    margin: 2rem 2rem 0 2rem;
    @media (max-width: 500px) {
      width: 80%;
    }
  }
  .receipt-wrapper {
    width: 50vw;
    margin: 2rem 2rem 0 2rem;
    @media (max-width: 500px) {
      width: 100%;
    }
    ul {
      margin-bottom: 0.5rem;
    }
  }
  h1 {
    margin-bottom: 2rem;
  }
  li {
    list-style-type: none;
    cursor: pointer;
    margin: 0.1rem 0;
  }
}

//AddNewItem Component
.item-input-form {
  margin-top: 1.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: fit-content;
  border: 0.2rem solid var(--darkgray);
  padding: 0.25rem;
  border-radius: 3px;
  .checkboxes {
    display: flex;
    justify-content: flex-start;
    label {
      margin: 0.5rem 2rem 0.5rem 0;
    }
  }
  .add-item-button {
    width: fit-content;
    padding: 0.2rem;
    h4 {
      color: var(--darkgray);
    }
  }
}
